colorama
urllib3[secure]
junit-xml
PyYAML
jsonschema
future
six
requests
idna
pyserial
jinja2
intelhex
mbed-ls
mbed-host-tests
mbed-greentea
beautifulsoup4
pyelftools
pycryptodome
pyusb
hidapi;platform_system!="Linux"
cmsis-pack-manager
pywin32;platform_system=='Windows'
wmi;platform_system=='Windows'
psutil
cryptography
Click
cbor
